<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->

    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Query launchable apps -->

    <queries>
        <intent>
            <action
                android:name="android.intent.action.MAIN" />

            <category
                android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application>

        <!-- Accessibility Service -->

        <service
            android:name="expo.modules.luminablocker.LuminaAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true"
            tools:replace="android:exported">

            <intent-filter>
                <action
                    android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/lumina_accessibility_config" />

        </service>

        <!-- Overlay Service -->

        <service
            android:name="expo.modules.luminablocker.BreathOverlayService"
            android:exported="false" />

        <!-- Focus Service -->

        <service
            android:name="expo.modules.luminablocker.LuminaFocusService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <!-- Lock Activity -->

        <activity
            android:name="expo.modules.luminablocker.FocusLockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

    </application>

</manifest>
